/* NAVBAR STYLING STARTS */

.navbar {

    display: flex;
    
    align-items: center;
    
    justify-content: space-between;
    
    padding: 20px;
    
    background-color: teal;
    
    color: #fff;
    
}

.nav_links {

    list-style-type: none;

    margin: 0;
    
    padding: 0;

}

    
.nav_links a {

    color: #fff;
    
    list-style-type: none;

}

/* NAVBAR MENU */

.menu {

    display: flex;
    
    gap: 1em;
    
    font-size: 18px;
    
}

.menu li:hover {

    background-color: #4c9e9e;

    border-radius: 5px;

    transition: 0.3s ease;

}
    
.menu li {

    padding: 5px 14px;

}