/* UTILITIES */
* {

    margin: 0;
    
    box-sizing: border-box;

    font-family: 'Trebuchet MS', sans-serif;
    
}

body {
    background-image: url("/images/background.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

h2 {
    color: #344e41;
    font-size: 32px;
}
/* NAVBAR STYLING STARTS */

.navbar {

    display: flex;
    
    align-items: center;
    
    justify-content: space-between;
    
    padding: 10px;
    
    background-color: #3a5a40;
    
    color: #fefae0;
    
}

.nav_links li {

    list-style-type: none;

    margin: 0;
    
    padding: 0;

}

    
.nav_links a {

    color: #fefae0;

    text-decoration: none;

}

/* NAME*/

.name {
    font-size: 32px;
}

/* NAVBAR MENU */

.menu {

    display: flex;
    
    gap: 1em;
    
    font-size: 18px;
    
}

.menu li:hover {

    background-color: #a3b18a;

    border-radius: 14px;

    transition: 0.3s ease;

}
    
.menu li {

    padding: 14px 16px;

    text-decoration: none;

}

.active{

    background-color: #617b66;

    color: #dad7cd;
    
}

/* ABOUT ME GRID CONTAINER */
.grid-container-about {
    display: grid;

    grid-template-columns: auto auto auto;

    gap: 10px;

    padding: 10px;

    margin-top: 20px;

    width: 100%;

    height: 100%;
}

.grid-container-about1 {
    grid-column-start: 1;

    grid-column-end: 4;
}

.grid-container-about2 {
    grid-column-start: 1;

    grid-column-end: 2;
}

.grid-container-about3 {
    grid-column-start: 2;

    grid-column-end: 3;

    margin-left: 10%;

    margin-top: 25%;

}
/* SELFIE */

.selfie {
    width: 75%;

    height: auto;
}

/* ACCESSIBILITY */

.accessibility {
    text-align: center;

    padding: 5%;

    width: 75%;

    margin-left: 15%;

    margin-right: 15%;

    height: 100%;
}

.accessibility_heading {
    text-align: center;

    padding: 5%;

}

.accessible{ 
    width: 50%;
    padding-top: 5%;
}

/* CONTACT ME */
.contact_me {

    margin: 30px;

    padding: 5%;
    
    width: 90%;

    height: 100%;

    margin-left: 10%;
}